<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<system.webServer>		
		<modules>
			<!-- Remove WebDAV module so that we can make DELETE requests -->
			<remove name="WebDAVModule" />
		</modules>
		<handlers>
			<!-- Remove WebDAV module so that we can make DELETE requests -->
			<remove name="WebDAV" />
			<add name="aspNetCore" path="*" verb="*" modules="AspNetCoreModuleV2" resourceType="Unspecified" />
		</handlers>
		<!-- When deploying on Azure, make sure that "dotnet" is installed and the path to it is registered in the PATH environment variable or specify the full path to it -->
		<aspNetCore requestTimeout="23:00:00" processPath="dotnet" arguments=".\Career.Web.dll" forwardWindowsAuthToken="false" stdoutLogEnabled="true" stdoutLogFile=".\logs\stdout" startupTimeLimit="3600" hostingModel="InProcess">		
		</aspNetCore>
		<security>
			<requestFiltering>
				<!-- Measured in Bytes -->
				<requestLimits maxAllowedContentLength="2048576000" />
				<!-- 1 GB-->
			</requestFiltering>
		</security>
		<httpProtocol>
			<customHeaders>
				<add name="Service-Worker-Allowed" value="/" />
			</customHeaders>
		</httpProtocol>
	</system.webServer>
</configuration>
<!--ProjectGuid: 9295C94D-8FB6-48BD-AF90-375F4EB72BA2-->