@model Career.Web.Models.Common.WeeklyAdModel

@{
    //page title
    ViewBag.PageTitle = "Weekly Ad";
    ViewBag.Canonical = "viewad/";
}

<div class="weekly-ad">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="col-md-12">
                    <div class="title">
                        <h1>
                            WEEKLY AD
                        </h1>
                    </div>
                    <hr />
                </div>

                <div class="col-md-12">
                    @if (!string.IsNullOrEmpty(Model.EcommPlugin))
                    {
                        <script type="text/javascript" src="@Model.EcommPlugin"></script>
                    }                    

                    @foreach (var url in Model.URLs)
                    {
                        <div id="weeklyad-@url.Value" class="weeklyad-item"></div>

                        @if (!string.IsNullOrEmpty(url.Text))
                        {
                            <script data-cfasync="false" data-height="undefined" data-publication="@url.Text" data-publication-aspect-ratio="2" data-responsive="true" data-width="undefined" data-wrapper-id="weeklyad-@url.Value" publitas-embed src="https://view.publitas.com/embed.js">
                            </script>
                        }
                    }
                </div>
            </div>
        </div>
    </div>
</div>